<header role="banner ">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container ">
        <p style="margin: 0"  class="navbar-brand d-flex" href="index.html">WHOOP<span class="bg-danger rounded-2 px-1">GANG</span></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-4">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class:"nav-link active" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Team", team_path, class:"nav-link" %>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item cta-btn">
                    <%= link_to "Contact", contact_path, class:"nav-link " %>
                </li>
            </ul>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connexion / Inscription
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="<%= new_session_path %>">Connexion</a>
                    <a class="dropdown-item" href="<%= new_user_path %>">Inscription</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="container py-5">
    <div class="my-4">
    <h2>Welcome back <%= @user %> </h2>
    <div class="d-flex">
        <a href="<%=new_path%>"><button class="btn btn-danger">Créer ton Gossip</button></a>
        <div class="my-div">
            <% if notice %>
            <div class="notice mx-5 col-10 text-center rounded-2 p-2">
            <%= notice %>
            </div>
            <% end %>
        </div>
    </div>
    <div>
    <% @gossips.each do |obj| %>
        <div class="card-gossip p-2 my-4 text-center rounded-3 anim">
            <a class="link-light text-decoration-none"> <p style="margin:0"> <%= obj.author %> a écrit <%= obj.title %> </p> </a>
            <%= link_to "Voir plus", gossip_path(obj.id), class:"nav-link link-danger" %>
        </div>
        <% end %>
    </div> 
</main>
<script>
    setTimeout(function() {
      var myDiv = document.querySelector('.my-div');
      myDiv.classList.add('hidden');
    }, 5000);
</script>
