<header role="banner ">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container ">
        <p style="margin: 0"  class="navbar-brand d-flex" href="index.html">WHOOP<span class="bg-danger rounded-2 px-1">GANG</span></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Team", team_path, class:"nav-link" %>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item cta-btn">
                    <%= link_to "Contact", contact_path, class:"nav-link " %>
                </li>
            </ul>
            </div>
           <% if session[:user_id].present? %>
            <!-- Le contenu à afficher lorsque la session est active -->
            <%= button_to "Déconnexion", sessions_path, method: :delete, class: "btn btn-danger" %>
            <% else %>
            <!-- Le contenu à afficher lorsque la session n'est pas active -->
            
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connexion / Inscription
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="<%= new_session_path %>">Connexion</a>
                    <a class="dropdown-item" href="<%= new_user_path %>">Inscription</a>
                </div>
            </div>
            <% end %>
        </div>
    </nav>
</header>

<main class="container py-5 my-5">
    <form action="<%= gossips_path %>" method="POST">
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
        <div class="form-group">
            <label for="exampleInputEmail1">Nom</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="author" required placeholder="Entrer votre nom d'auteur">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Titre</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="title" required placeholder="Votre Titre">
        </div>
        <div class="form-group">
            <label for="exampleInputContent1">Contenue</label>
            <textarea type="text-area"  rows="4" class="form-control" id="exampleInputContent1" required name="content" placeholder="Votre contenue"></textarea>
        </div>
        <button type="submit" class="btn btn-danger my-3 p-3">Submit</button>
    </form>
</main>