<header role="banner ">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container ">
        <p style="margin: 0"  class="navbar-brand d-flex" href="index.html">WHOOP<span class="bg-danger rounded-2 px-1">GANG</span></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Team", team_path, class:"nav-link" %>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item cta-btn">
                    <%= link_to "Contact", contact_path, class:"nav-link" %>
                </li>
            </ul>
            </div>
            <% if session[:user_id].present? %>
            <!-- Le contenu à afficher lorsque la session est active -->
            <%= button_to "Déconnexion", sessions_path, method: :delete, class: "btn btn-danger" %>
            <% else %>
            <!-- Le contenu à afficher lorsque la session n'est pas active -->
            
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connexion / Inscription
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="<%= new_session_path %>">Connexion</a>
                    <a class="dropdown-item" href="<%= new_user_path %>">Inscription</a>
                </div>
            </div>
            <% end %>
        </div>
    </nav>
</header>

<main class="container py-5 my-5"> 
    <div class="card text-white bg-secondary p-2 mb-3">
        <div class="card-header fs-2">Autheur : <%= Gossip.find(params[:id]).author %></div>
        <div class="card-body">
            <h5 class="card-title fs-3">Titre : <%= Gossip.find(params[:id]).title %></h5>
            <p class="card-text"><%= Gossip.find(params[:id]).content %></p>
            <p class="card-text d-flex justify-content-end"><%= Gossip.find(params[:id]).created_at %></p>
        </div>
    </div>
</main>